<%= form_for @post, url: {action: "create"} do |f| %>
  category: <p><%= f.collection_select(:category_id, @categories, :id, :name)%></p>
  title:<p><%= f.text_field :title %></p>
  description:<p><%= f.text_area :description %></p>
  email:<p><%= f.text_field :email %></p>
  price:<p><%= f.text_field :price %></p>
  <p><%= f.submit "Create!" %></p>
<% end %>